.contact {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    height: 80vh;
    margin-top: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    h2 {
        font-family: 'OFL Sorts Mill Goudy TT';
        font-style: normal;
        font-weight: 500;
        font-size: 48px;
        line-height: 143.4%;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: -0.035em;
        color: $headerBoton;
        margin-top: 2%;
    }

    .containerContact {
        font-family: Montserrat;
        color: $principal;
        margin-top: 5%;
        .instagram{
            padding: 3rem;
            .igRedes{
                @extend %redes;
            }
            .igBtn{
                text-align: center;
                p{
                    margin-top: 8px;
                    font-size: 0.8rem;
                }
                button{
                    @extend %btnRedes;
                }
            }
        }
        .whatsapp{
            .wspRedes{
                @extend %redes;
            }
            .wspBtn{
                text-align: center;
                p{
                    margin-top: 8px;
                    font-size: 0.8rem;
                }
                button{
                    @extend %btnRedes;
                }
            }
        }
    }

}

@media screen and (max-width:768px) {
    .contact {
        height: 100vh;
        margin-top: 100px;
        h2 {
            font-size: 40px;
            margin-top: 2%;
        }
    }
}
