footer {
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    background-color: #d9d9d980;
    h5 {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 1em;
        line-height: 20px;
        color: #554C4F;
        margin: 0.5em;
    }
}
.sections {
    margin: 1.5em 5em;
    div {
        display: flex;
        margin-bottom: 2em;
        margin-right: 5em;
    }
}
.nav-footer {
    ul {
        list-style-type: none;
        li {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
            font-size: 1em;
            line-height: 20px;
            color: #554C4F;
            margin: 0.5em;
            a {
                text-decoration: none;
                color: #554C4F;
            }
        }
    }
}
.contacto-footer {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    margin-left: 25em;
    ul {
        width: 17em;
        list-style-type: none;
        li {
            display: flex;
            align-items: center;
            justify-content: left;
            img {
                @include size(1.4em, 1.4em);
                margin: 1em;
            }
        }
    }
    h5 {
        margin-bottom: 1em;
    }
    p {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 1em;
        line-height: 20px;
        color: #554C4F;
    }
}
.copy {
    background: #C7C1C3;
    padding: 1em;
    p {
        margin-left: 2.5em;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 1em;
        line-height: 143.4%;
        display: flex;
        align-items: center;
        letter-spacing: 0.04em;
        color: #FFFFFF;
    }
}
@media screen and (max-width:1440px) {

}
@media screen and (max-width:768px) {
    .sections {
        div {
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            justify-content: center;
            * {
                margin: 0;
                font-size: 1em;
                text-align: center;
            }
            .contacto-footer {
                margin-top: 2em;
                margin-left: 1em;
            }
        }
    }
}
@media screen and (max-width:425px) {

}