* {
    margin: 0;
    padding: 0;
}
//colores de letras y fondos 

$background: #E5E5E5;
$principal: #DF0909;
$secundario: #FFE3ED;
$acento: #C7C1C3;
$header:#554C4F;
$headerBoton: #FFFFFF;
$fontProducts: rgba(255, 255, 255, 0.6);

// letras que estan por encima de las imagenes en productos
%letrasProductos {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 143.4%;
    color: $fontProducts;
}

// position del contenedor de las imagenes y h3 de la seccion de productos
%positionProductos{
    position: relative;
    display: inline-block;
}

// alineador de nombre de RS con logo 
%redes{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

//boton de contacto que lleva a cada red social
%btnRedes {
    @extend %letrasProductos;
    color: $principal;
    font-size: 0.9rem;
    border: 1px solid $principal;
    border-radius: 9px;
    width: 115px;
    height: 30px;
    background-color: white;
    margin-top: 25px;
}

@font-face {
    font-family: Economica;
    src: url('../assets/fonts/economica.ttf');
}

@font-face {
    font-family: Montserrat;
    src: url('../assets/fonts/montserrat.ttf');
}

@font-face {
    font-family: OFL Sorts Mill Goudy TT;
    src: url('../assets/fonts/ofl.ttf');
}

@font-face {
    font-family: Inter;
    src: url('../assets/fonts/inter.ttf');
}

@mixin size($height, $width) {
    height: $height;
    width: $width;
}