.but-whatsapp {
    position: fixed;
    bottom: 1em;
    right: 1em;
    @include size(60px, 60px);
    transition: all 0.2s ease-in-out;
    &:hover {
    filter: brightness(1.75);
    }
}
@media screen and (max-width:1440px) {

}
@media screen and (max-width:768px) {

}
@media screen and (max-width:425px) {

}